<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render "shared/stats" %>
		</section>
	</aside>
	<div class="span8">
    <div id='chart'>Loading chart...</div>
    <%= render_chart(@chart, 'chart') %>
    
		<%= render "follow_form" if signed_in? %>
    
    <div>
      <%= button_to "Sync from HealthVault", { :action => "show", :id => @user.id },
            :confirm => "Are you sure?", :method => :sync_from_healthvault %>
    </div>
	</div>
</div>