<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span3">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render "shared/stats" %>
		</section>
	</aside>
	<div class="span9">
    <div class="row">
      <div class="span6">
        <div id='hdl_chart'>Loading chart...
          <%= render_chart(@hdl_chart, 'hdl_chart') %>
        </div>
        <div id='ldl_chart'>Loading chart...
          <%= render_chart(@ldl_chart, 'ldl_chart') %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div id='total_chart'>Loading chart...
          <%= render_chart(@total_chart, 'total_chart') %>
        </div>
        <div id='triglyceride_chart'>Loading chart...
          <%= render_chart(@triglyceride_chart, 'triglyceride_chart') %>
        </div>
      </div>
    </div>
		<% if signed_in? %>
      <h3>Enter new cholesterol measurement</h3>
			<%= form_tag(add_cholesterol_measurement_path(@user.id), :method => "get") do %>
				<%= label_tag :hdl, "HDL" %>
				<%= text_field_tag :hdl %>
				<%= label_tag :ldl, "LDL" %>
				<%= text_field_tag :ldl %>
				<%= label_tag :total %>
				<%= text_field_tag :total %>
				<%= label_tag :triglyceride %>
				<%= text_field_tag :triglyceride %>
				<%= submit_tag "Add Measurement", class: "btn btn-large btn-primary" %>
			<% end %>
			<%= link_to "Sync Down", sync_down_user_path(@user.id), data: { confirm: "Are you sure?" }, class: "btn btn-large btn-success" %>
      <%= link_to "Sync Up", sync_up_user_path(@user.id), data: { confirm: "Are you sure?" }, class: "btn btn-large btn-success" %>
		<% end %>
  </div>
</div>